{% extends "base.html" %}
{% load static %}

{% block custom_css %}
  <link href="{% static "css/magnific-popup.css" %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
  <script src="{% static 'js/dist/lib/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/dist/searcher.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div id="search-page"></div>
    <div id="auxiliary-data" hidden>
      <div id="request-url">{{ request_url }}</div>
    </div>
{% endblock %}