html, body, .base-content{
  height: 100%;
  color: #696969;
}

.radio label {
  padding-left: 10px;
}

.overlap-genes-list {
  display: inline-block;
}

a.deco-none {
  color: inherit;
  text-decoration: none;
}

a,
a label {
  cursor: pointer;
}

.white-popup-block {
  max-width: 600px;
  background: #FFF;
  padding: 20px 30px;
  position: relative;
  margin: 40px auto;
}

.search-form > .form-inline .radio span {
  padding-left: 5px;
}

.main-container {
  max-width: 95%;
}

.sticky-result-table-header {
  max-width: 95%;
  top: -27px;
  z-index: 999;
  position: fixed;
  transition:0.4s top cubic-bezier(.3,.73,.3,.74);
}

div.toggle-sticky-header div.sticky-result-table-header {
  top:0;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.search-result-recap {
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.search-form textarea {
  max-height: 400px;
}

.search-result table thead {
  background-color: #f5f5f5;
}

a.full-heatmap-link {
  font-weight: bold;
}

a.full-heatmap-link:link {
  color: #69E;
}

a.full-heatmap-link:visited {
  color: #73F;
}

.loader-wrap {
  position: relative;
  padding-bottom: 20%;
}

.base-content {
  height: auto;
  min-height: 100%;
  padding-bottom: 60px;
}

.footer {
  margin-top: -80px;
  height: 60px;
}
.footer footer {
  padding-bottom: 20px;
}

.genequery-head-title {
  padding-top: 8px;
}

.id-mapping-table {
  margin: 10px 0;
}

.id-mapping-table td, th {
  font-size: 12px !important;
  padding: 4px !important;
}

.id-mapping-table tr > th:first-child,
.id-mapping-table tr > td:first-child {
  text-align: right;
}

div.row-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-inline-with-title label:first-child {
  margin-right: 10px;
}

.result-table-col-num {
  width: 2%;
}

.result-table-col-title {
  width: 73%;
}

.result-table-col-module {
  width: 2%;
}

.result-table-col-p-value {
  width: 4%;
}

.result-table-col-adj-p-value {
  width: 5%;
}

.result-table-col-overlap {
  width: 6%;
}

.result-table-col-gse {
  width: 5%;
}

.result-table-col-gmt {
  width: 3%;
}

.fake-result-table th:first-child,
.result-table th:first-child {
  text-align: right;
}

.error-alert-block {
  overflow-wrap: break-word;
}