body {
  /*background-color: #ebeff2;*/
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  /*-ms-text-size-adjust: 100%;*/
  /*-webkit-text-size-adjust: 100%;*/
  /*color: #515151;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  -webkit-font-smoothing: antialiased;
}

.header .nav * {
  font-size: 14px;
}

html, body, .base-content{
  height: 100%;
  color: #696969;
}

.radio label {
  padding-left: 10px;
}

.overlap-genes-list {
  display: inline-block;
}

a.deco-none {
  color: inherit;
  text-decoration: none;
}

a,
a label {
  cursor: pointer;
}

.white-popup-block {
  max-width: 600px;
  background: #FFF;
  padding: 20px 30px;
  position: relative;
  margin: 40px auto;
}

.search-form > .form-inline .radio span {
  padding-left: 5px;
}

.main-container {
  max-width: 95%;
}

.result-table {
  margin-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.sticky-result-table-header {
  max-width: 95%;
  top: -27px;
  z-index: 999;
  position: fixed;
  transition:0.4s top cubic-bezier(.3,.73,.3,.74);
}

div.toggle-sticky-header div.sticky-result-table-header {
  top:0;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.search-result-recap {
  margin-bottom: 10px;
  margin-top: 20px;
}

.search-form textarea {
  max-height: 400px;
}


a.full-heatmap-link {
  font-weight: bold;
}

a.full-heatmap-link:link {
  color: #69E;
}

a.full-heatmap-link:visited {
  color: #73F;
}

.loader-wrap {
  position: relative;
  padding-bottom: 20%;
}

.base-content {
  height: auto;
  min-height: 100%;
  padding-bottom: 60px;
}

.footer {
  margin-top: -80px;
  height: 60px;
}
.footer footer {
  padding-bottom: 20px;
}

.genequery-head-title {
  padding-top: 8px;
}

.id-mapping-table {
  margin: 10px 0;
}

.id-mapping-table td, .id-mapping-table th {
  /*font-size: 12px !important;*/
  padding: 4px !important;
}

.id-mapping-table tr > th:first-child,
.id-mapping-table tr > td:first-child {
  text-align: right;
}

div.row-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-inline-with-title label:first-child {
  margin-right: 10px;
}

.result-table-col-num {
  width: 2%;
}

.result-table-col-title {
  width: 72%;
}

.result-table-col-module {
  width: 2%;
}

.result-table-col-adj-p-value {
  width: 10%;
}

.result-table-col-overlap {
  width: 6%;
}

.result-table-col-gse {
  width: 5%;
}

.result-table-col-gmt {
  width: 3%;
}

.fake-result-table th:first-child,
.result-table th:first-child {
  text-align: right;
}

.error-alert-block {
  overflow-wrap: break-word;
}

.panel {
  background-color: #fff;
  border: 0;
  margin-bottom: 24px;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.panel hr {
  border-color: rgba(0,0,0,0.1);
  margin-top: 15px;
  margin-bottom: 15px;
}
.panel-body:after, .panel-body:before {
  content: " ";
  display: table
}
.panel-body:after {
  clear: both
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px
}
.result-groups>.panel>.panel-heading:hover {
  background-color: rgb(242, 242, 242);
}
.panel-title.flexible-title>div:not(:last-of-type) {
  border-right: 1px solid #ddd;
}
.panel-title {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  font-weight: 300;
  padding: 0 20px 0 15px;
  line-height: 50px;
  height: 50px;
}
.panel-title a {
  color: inherit;
  text-decoration: none;
}
/*.panel-title>.title-group-annotation>a,*/
/*.panel-title>.title-min-pv>a,*/
/*.panel-title>.title-modules-found>a {*/
  /*font-size: 100%;*/
/*}*/

.panel-group .panel-heading {
  border-bottom: 0
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #ddd
}
.panel-group .panel-footer {
  border-top: 0
}
.panel-group .panel-footer+.panel-collapse .panel-body {
  border-bottom: 1px solid #ddd
}

.panel>.panel-heading+.panel-collapse>.panel-body {
  border-top: 0
}

.panel-heading {
  position: relative;
  height: 50px;
  padding: 0
}

.panel-footer * {
  /*color: #515151;*/
  /*border-color: #eaedf0;*/
  position: relative
}
.panel-group.accordion .panel-body:before {
  border: 0 !important
}
.with-line-on-top:before {
  content: '';
  display: block;
  position: relative;
  height: 0;
  /*left: 15px;*/
  /*right: 15px;*/
  /*top: -10px;*/
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.panel-group .panel-heading:not(.collapsed) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.panel-collapse {
  position: relative;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 20px
}

/*http://shapebootstrap.net/item/1525552-sensationapp-bootstrap-admin-template-with-angularjs/live-demo*/

.gene-conversion-panel {
  width: 50%;
  box-shadow: none;
}

.gene-conversion-panel .panel-title {
  line-height: inherit;
}

.gene-conversion-panel .panel-heading {
  height: inherit;
}

.gene-conversion-panel .panel-title,
.gene-conversion-panel .panel-body {
  padding: 0;
}

.summary-panel {
  margin-bottom: 10px;
}
.summary-panel>.panel-footer {
  background-color: inherit;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.summary-panel>.panel-footer>div {
  display: inline-block;
  padding: 10px;
}
.summary-panel>.panel-footer>div:first-child {
  padding-left: 0;
}
.summary-panel>.panel-footer>div:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);
}
.summary-panel>.panel-footer>.download-btn * {
  color: #fff;
  border-color: inherit;
}
.result-groups .panel-heading {
  cursor: pointer;
}
.result-groups>.panel {
  margin-bottom: 10px;
}

.summary-description {
  display: inline-block;
  vertical-align: top;
}
/*.result-groups>.panel:first-child {*/
  /*margin-top: 10px;*/
/*}*/

.result-groups .panel+.panel {
  margin-top: 10px;
}

.flexible-title>div {
  text-align: center;
  /*line-height: normal;*/
  padding: 10px 5px 5px 5px;
}

.flexible-title>div>span {
  display: block;
  font-size: 60%;
}

.flexible-title>div:last-of-type {
  text-align: left;
}

.flexible-title {
  list-style: none;
  display: flex;
}

.flexible-title * {
  line-height: normal;
}

div.title-group-annotation {
  overflow: hidden;
  text-overflow: ellipsis
}

.title-group-id {
  flex: 0 0 56px;
}

.title-modules-found {
  flex: 0 0 48px;
}

.table.result-table>thead>tr>th {
  border-bottom: 0;
}

.table.result-table {
  font-size: inherit;
  line-height: 1.5;
}

.group-result-checkbox {
  /*float: right;*/
}

/*.separate-line:after {*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*content: "";*/
  /*width: 1px;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*background-image: linear-gradient(to bottom,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);*/
/*}*/

.dropdown-menu {
  top: inherit;
  left: inherit;
}

.overlap-link+.dropdown-menu small {
  color: grey;
  float: right;
  padding: 3px;
}

.copy-to-clipboard {
  float: right;
}

.overlap-genes-list>pre {
  white-space: pre-wrap;
  word-break: normal;
}