{% extends 'base.html' %}
{% block container %}
    <div class="row">
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12466.385070223125!2d-90.262682!3d38.635168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e4c3b832c1bce16!2sWashington+University+School+of+Medicine!5e0!3m2!1sru!2s!4v1424088948944"
                    width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="col-md-4">
            <h3>Contact Details</h3>
            <address>
                <strong><a href="https://artyomovlab.wustl.edu/site/">Maxim Artyomov Lab</a></strong><br>
                <p class="address-grey">Department of Pathology and Immunology, Division of Immunobiology, Washington
                University School of Medicine</p>
                660 S. Euclid Avenue, Campus Box 8118, <br>
                St. Louis, MO 63110
            </address>

            <address>
                <strong>Alex Predeus</strong><br>
                <div class="address-grey">Creator, <a href="http://wustl.edu/">Wash U</a></div>
                <script language="JavaScript">
                    var username = "apredeus";
                    var hostname = "path.wustl.edu";
                    var linktext = username + "@" + hostname ;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                </script>
            </address>

            <address>
                <strong>Ivan Arbuzov</strong><br>
                <div class="address-grey">Programming, <a href="https://en.ifmo.ru/">ITMO University</a></div>
                <script language="JavaScript">
                    var username = "smolcoder";
                    var hostname = "gmail.com";
                    var linktext = username + "@" + hostname ;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                </script>
            </address>
        </div>
    </div>
{% endblock %}