{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="blog-header">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post text-justify" >
                    <p>Following is a list of 50 genes found to be among most up-regulated in primary murine macrophages upon stimulation with LPS.
                    The expression data was obtained using RNA-Seq technology. The outputs will contain numerous experiments,
                    most of them related to immune response.</p>
                    <div class="text-right"><a href="{% url 'searcher:index' %}?example=true" role="button" target="_blank">Run it on search page</a></div>
                    <pre><code>Cd274
Nos2
Irg1
Gbp2
Cxcl9
Ptgs2
Saa3
Gbp5
Iigp1
Gbp4
Gbp3
Il1rn
Il1b
Oasl1
Gbp6
Cd86
Rsad2
Ccl5
Tgtp2
Clic5
Zbp1
Gbp7
Socs3
Serpina3g
Procr
Igtp
Slco3a1
Ly6a
Slc7a2
C3
Cd40
Ifit1
Fam26f
Clec4e
Bst1
Isg15
Irf1
Acsl1
Cd38
Ifit2
Thbs1
Ifi47
Ifi44
Irgm2
Il15ra
Ass1
Slfn1
Nod
Il18bp
Serpinb9</code></pre>

                    <p>You can also select "Homo sapiens". The engine will return all of the matches in the human database.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}