{% extends "base.html" %}
{% load static %}
{% block custom_js %}
    <script src="{% static 'js/searcher.js' %}"></script>
    <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery-scrollToTop.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/featherlight.min.js' %}"></script>
    <script src="{% static 'js/stickytableheaders.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-6">{% include 'search-form.html' %}</div>
    </div>
    <div class="search-results"></div>
    <div class="text-center loader"><img src="{% static 'img/ajax-loader.gif' %}"/></div>
{% endblock %}